html, body {
	 height: auto;
}

a{
	
	position: relative;
	z-index: 10;
	font-family: 'Oswald', sans-serif;
	color: white;
	padding-left: 2%;
	padding-bottom: 140%;
	font-size: 3px;
	cursor: pointer;
	
}


 body {
	 background: black;
}
 * {
	 touch-action: none;
}
 .container {
	 height: 100%;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 overflow: hidden;
}
 .countdown {
	 display: block;
	 width: 66vmin;
	 height: 66vmin;
	 position: relative;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 font-family: 'Oswald', sans-serif;
	 font-weight: 400;
	 font-size: 25vmin;
	 border-radius: 50%;
	 overflow: hidden;
	 cursor: pointer;
	 transition: width, height, border-radius, font-size;
	 transition-duration: 0.2s;
}
 .countdown--ended {
	 animation: buzz 0.5s;
}
 .countdown:active {
	 transform: scale(1.02);
}
 @keyframes buzz {
	 0% {
		 transform: rotate(0);
	}
	 10%, 30%, 50%, 70%, 90% {
		 transform: rotate(6deg);
	}
	 20%, 40%, 60%, 80% {
		 transform: rotate(-6deg);
	}
	 100% {
		 transform: rotate(0);
	}
}
 .countdown--wide {
	 width: 100%;
	 height: 100%;
	 font-size: 50vmin;
	 border-radius: 0;
}
 .countdown__fill {
	 display: block;
	 width: 100%;
	 height: 100%;
	 position: absolute;
	 left: 0;
	 bottom: 0;
	 background: #ff5722;
	 opacity: 1;
}
 .countdown__digit {
	 width: 100%;
	 color: #ff5722;
	 text-align: center;
	 mix-blend-mode: difference;
	 pointer-events: none;
	 user-select: none;
}
 .countdown__buttons {
	 position: absolute;
	 right: 50px;
	 top: 50%;
	 height: 200px;
	 margin-top: -100px;
	 color: white;
	 z-index: 1;
}
 .countdown__button {
	 height: 50%;
}
 .full-button {
	 position: absolute;
	 right: 10px;
	 bottom: 10px;
	 padding: 1em 0.5em 0.5em 2em;
	 font-family: 'Oswald', sans-serif;
	 text-transform: uppercase;
	 color: white;
	 cursor: pointer;
}
 